In [277]:
import pandas as pd
df = pd.read_excel('newML.xlsx')
df.head()

,Client Code,Loan amount (issued in AZN),Monthly payment (AZN),Age,Salary (AZN),Bank history (years),Monthly Amazon purchases from card (USD),Monthly Google Play purchases from card (USD),Grocery purchases from card (AZN),Maximum default days within a year (FACTUAL),Predicted maximum default days within a year according to the model,Predicted default days within a year in CRISIS*\nscenario
0,150015,5688,474.000000,50,500.0,2,0,0,0,0,NaN,NaN
1,150016,7699,641.583333,51,233.0,5,0,0,0,0,NaN,NaN
2,150017,3494,291.166667,19,600.0,5,48,27,169,20,NaN,NaN
3,150018,3485,290.416667,20,650.0,5,39,26,150,15,NaN,NaN
4,150019,5416,451.333333,25,700.0,2,41,0,218,0,NaN,NaN

In [99]:
print(df.columns)

Index(['Client Code', 'Loan amount (issued in AZN)', 'Monthly payment (AZN)',
       'Age', 'Salary (AZN)', 'Bank history (years)',
       'Monthly Amazon purchases from card (USD)',
       'Monthly Google Play purchases from card (USD)',
       'Grocery purchases from card (AZN)',
       'Maximum default days within a year (FACTUAL)',
       'Predicted maximum default days within a year according to the model ',
       'Predicted default days within a year in CRISIS*\nscenario'],
      dtype='object')

In [278]:
df = df.drop(df.columns[10:12], axis=1)
df.head()

,Client Code,Loan amount (issued in AZN),Monthly payment (AZN),Age,Salary (AZN),Bank history (years),Monthly Amazon purchases from card (USD),Monthly Google Play purchases from card (USD),Grocery purchases from card (AZN),Maximum default days within a year (FACTUAL)
0,150015,5688,474.000000,50,500.0,2,0,0,0,0
1,150016,7699,641.583333,51,233.0,5,0,0,0,0
2,150017,3494,291.166667,19,600.0,5,48,27,169,20
3,150018,3485,290.416667,20,650.0,5,39,26,150,15
4,150019,5416,451.333333,25,700.0,2,41,0,218,0

In [344]:
df_new = df[np.isfinite(df).all(1)]

In [493]:
df_new = df_new.replace(0,df_new.mean())
# df_new = df_new.fillna(df.median())
df_new.head()

,Client Code,Loan amount (issued in AZN),Monthly payment (AZN),Age,Salary (AZN),Bank history (years),Monthly Amazon purchases from card (USD),Monthly Google Play purchases from card (USD),Grocery purchases from card (AZN),Maximum default days within a year (FACTUAL)
0,150015,5688,474.000000,50,500.0,2,14,5.894737,150,10
1,150016,7699,641.583333,51,233.0,5,14,5.894737,150,10
2,150017,3494,291.166667,19,600.0,5,48,27.000000,169,20
3,150018,3485,290.416667,20,650.0,5,39,26.000000,150,15
4,150019,5416,451.333333,25,700.0,2,41,5.894737,218,10

In [494]:
x = df_new.drop(columns=['Client Code', 'Maximum default days within a year (FACTUAL)'])
y = df_new['Maximum default days within a year (FACTUAL)']

In [495]:
df.dtypes

Client Code                                        int64
Loan amount (issued in AZN)                        int64
Monthly payment (AZN)                            float64
Age                                                int64
Salary (AZN)                                     float64
Bank history (years)                               int64
Monthly Amazon purchases from card (USD)           int64
Monthly Google Play purchases from card (USD)      int64
Grocery purchases from card (AZN)                  int64
Maximum default days within a year (FACTUAL)       int64
dtype: object

In [496]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [497]:
from sklearn.linear_model import LinearRegression

lr_model = LinearRegression()
lr_model

LinearRegression()

In [498]:
lr_model.fit(x_train,y_train)

LinearRegression()

In [500]:
predicted_lr = lr_model.predict(x_test)

In [501]:
lr_model.score(x_train,y_train)

0.6657646699297062

In [502]:
from sklearn.metrics import mean_squared_error, r2_score
mse_lr = mean_squared_error(y_test, predicted_lr)
r2_lr = r2_score(y_test, predicted_lr)
print(f"Linear Regression \n MSE: {mse_lr} \n R2: {r2_lr}")

Linear Regression
 MSE: 62.32738324786586
 R2: -0.8745077668531085

In [489]:
from sklearn.preprocessing import PolynomialFeatures

In [490]:
poly = PolynomialFeatures(degree=2)  
X_poly = poly.fit_transform(x_train)
X_poly_test = poly.transform(x_test)

In [492]:
lr_poly = LinearRegression()
lr_poly.fit(X_poly, y_train)
y_pred_poly = lr_poly.predict(X_poly_test)
mse_poly = mean_squared_error(y_test, y_pred_poly)
r2_poly = r2_score(y_test, y_pred_poly)

print(f"Polynomial Regression \n MSE: {mse_poly} \n R2: {r2_poly}")

Polynomial Regression
 MSE: 44.40701563127776
 R2: -0.33554934229406785